body{
  background-color: #181C14;
}


.profilePicture {
  width: 280px;
  height: auto;
  position: relative;
  top: 360px;
  left:520px; 
  border-radius: 30px;
}

.line1{
  display: inline-block;
  font-family: serif;
  font-size: 50px;
  color: #697565;
  position: relative;
  left: 530px;
  top: 50px;
}

.line2{
  display: inline-block;
  font-family: serif;
  font-size: 40px;
  color: #697565;
  position: relative;
  left: 75px;
  top: 100px;
}

.githubLink{
  display: inline-block;
  background-color: #697565;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  position: relative;
  top: 200px;
  left: -215px;
}


.linkedinLink{
  display: inline-block;
  background-color: #697565;
  font-size: 30px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  position: relative;
  left: -210px;
  top: 200px;
}

a:link, a:visited, a:hover, a:active {
  color: #000000;
  text-decoration: none;
}   

